<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ user }}!</h1>


      <h2>Ready Fight!</h2>
        <h3><form name="option" action="{{ url_for('results') }}" method="POST">
          <td>
          <label>Select Fighter 1:</label>
            <select name="selected_fighter" width="280px">
            {% for x in fighter_list %}
            <option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
            {% endfor %}
            </select>
              <button type="submit">View Stats</button>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2>{{ output }}</h2>


        </form></h3>


  </body>
</html>