<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ user }}!</h1>


      <h2>Ready Fight!</h2>
        <h3><table><form action="" method="POST">
          <td>
          <label>Select Fighter 1:</label>
            <select name="option" width="300px">
            {% for x in fighter_list %}
            <option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
            {% endfor %}
            </select>
        <br>
        <br>
        <br>
        <br>
           <label>Select Fighter 2:</label>
            <select name="option" width="300px">
            {% for x in fighter_list %}
            <option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
            {% endfor %}
            </select>
          </td>

        </form></table></h3>


  </body>
</html>