<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
<body>



  <form method="post">
    <label>
    <h1>Some fighters</h1>
    <div>{{data}}</div>

      <div>
        {% for n in data %}
      <div>{{n}}</div>
        {% endfor %}
      </div>

    </label>

    <label>
      <div>Fighter Name</div>
      <select name="fighter">
        {% for fighter in fighters %}
            <option value="{{ fighter }}">{{ fighter }}</option>
        {% endfor %}
      </select>
    </label>

    <input type="submit">
  </form>

</body>


</html>
